<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>

        {% if user %}
    		<p class="navbar-text navbar-left">Welcome, {{ user }}! <font color=red;> {{ status }} </font></p>

    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a style="color:gray;" data-toggle="collapse" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

      <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'polls:logout' %}" style="color:gray;"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>

       {% endif %}


      <div id="login" class="collapse panel panel-default">
                <div class="panel-body">
                    <form action="{% url 'polls:log_in' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="username"><label for="username">Username:</label>
                          <input class="form-control" id="username" maxlength="150" name="username" type="text" required />
                        </div>
                        
                        <div class="form-group">
                          <label for="password"><label for="password">Password:</label>
                          <input class="form-control" id="password" name="password" type="password" required />
                        </div>
                        
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </ul>
  </div>
</nav>

 <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                    	<small> {{ status }} </small>

                        <li><a href="{% url 'polls:add_poll' %}">Add Polls</a></li>
                        
                        <li><a href="{% url 'polls:add_user' %}">Add Users</a></li>
                        <li><a data-toggle="collapse" data-target="#delete">Delete Polls</a></li>

                        <div id="delete" class="collapse panel">
                        <small><font color="blue"> You must be the owner of a poll to delete it.</font></small>

	                        <form action="{% url 'polls:delete_poll' %}" method="post">
                        		{% csrf_token %}
	                       		<label for="poll_id" name="poll_id" id="poll_id">Poll ID: </label>
	                       		<input class="form-control" name="poll_id" id="poll_id" type="number" required />

	                       		<input class="btn btn-primary" type="submit" value="Submit" />
	                        </form>
                        </div>
                        
                    </ul>
                </div>
            </div>
        </div>
  
  <div class="col-md-10">

 
	{% if latest_question_list %}
	<ul>
	  {% for question in latest_question_list %}
		<div class="jumbotron">
  			<p class="lead">
	 			 <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
	  		</p>
  		<hr class="my-4">
 		<p>ID: {{ question.id }} Created By {{ question.question_owner }}</p>


	 
  		</div>

	  {% endfor %}
	</ul>
	{% else %}
	<h3>Either.....there are no  polls are available. But more likely, there are and I'm exhausted from this assignment and don't want to figure out how to redirect to that page.... <br>  ...so do me a favor and click <b> polls </b> in the <u> top left corner </u></h3>
	{% endif %}

	{% load static %}
	</div>
  


<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

